<div class="screen-row">
	<div class="screen-column column-4">
		<div class="screen-item">
		    <div class="player-image team-{{teamAbbr}}"><img src="http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/{{esbid}}.png"></div>
			<div class="player-name">{{name}}</div>
			<div class="player-position">{{position}}</div>
			<div class="player-team">{{teamAbbr}}</div>
		</div>
	</div>
</div>