{{#each players}}
<div class="screen-item">
	<div class="screen-item-content">
		<a href="#" class="stats-link" data-id="{{id}}">
			<span class="player-rank">{{inc @index}}.</span>
			<span class="player-image"><img src="http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/{{esbid}}.png"></span>
			<span class="player-name">{{firstName}} {{lastName}}</span>
			<span class="player-position">{{position}}</span>
			<span class="player-team">{{teamAbbr}}</span>
		</a>
		<a href="#" class="follow-link" data-id="{{id}}"></a>
	</div>
</div>
{{/each}}