<div class="screen-player screen-main">
	<header class="header">
		<h1>Dashboard</h1>
		<h2>Hello, <strong>{{name}}</strong><a href="preferences.html"><i class="fa fa-cogs"></i></a></h2>
	</header>
	<div class="sidebar">
		{{> sidebar}}
	</div>
	<div class="screen-content">
		<div class="screen-row">
			<div class="screen-column column-4">
				<div class="screen-item">
				    <div class="player-image team-{{teamAbbr}}"><img src="http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/{{esbid}}.png"></div>
        			<div class="player-name">{{firstName}} {{lastName}}</div>
        			<div class="player-position">{{position}}</div>
        			<div class="player-team">{{teamAbbr}}</div>
				</div>
			</div>
		</div>
	</div>
</div>