<div class="screen-row">
	<div class="screen-column column-4">
		<div class="screen-item">
		    <div class="player-details">
		        <div class="player-details-image team-{{teamAbbr}}"><img src="http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/{{esbid}}.png"></div>
    		    <div class="player-details-info">
    		        <span class="player-name">{{name}}</span>
        			<span class="player-number">#{{jerseyNumber}}</span>
        			<span class="player-position">{{position}}</span>
        			<span class="player-team">{{teamAbbr}}</span>
        			<span class="player-following"><a href="#" class="follow-link {{following id}}" data-id="{{id}}"><i class="fa fa-flag"></i></a></span>
    		    </div>
		    </div>
		</div>
	</div>
</div>

<div class="screen-row">
	<div class="screen-column column-4">
	    <div class="screen-item screen-item-schedule">
			<div class="screen-item-content">
				<h3>Schedule:</h3>
				{{#each weeks}}
				
				{{#if open}}
				<ul>
				{{/if}}
					<li>Wk {{id}}: {{#if opponent}}{{opponent}}{{else}}BYE{{/if}}</li>
				{{#if close}}
				</ul>
				{{/if}}
				
				{{/each}}
			</div>
		</div>
	</div>
</div>

<div class="screen-row">
	<div class="screen-column column-4">
	    <div class="screen-item screen-item-notes">
			<div class="screen-item-header header-blue">
				<h3>Notes</h3>
			</div>
			<div class="screen-item-content">
				<ul>
				    {{#each notes}}
					<li>
					    <p><strong>{{timestamp}} | {{body}}</strong></p>
					    <p><strong>Analysis:</strong><br>{{analysis}}</p>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="screen-row">
	<div class="screen-column column-4">
	    <div class="screen-item screen-item-videos">
			<div class="screen-item-header header-blue">
				<h3>Videos</h3>
			</div>
			<div class="screen-item-content">
				<ul>
				    {{#each videos}}
					<li>
					    <a href="http://www.nfl.com/videos/nfl-game-highlights/{{id}}" target="_blank" title="{{title}}">
					        <span>
					            <img src="{{mediumPhotoUrl}}">
					            <i class="fa fa-youtube-play"></i>
					        </span>
					        <strong>{{title}}</strong>
					    </a>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>