<div class="screen-row">
	<div class="screen-column column-4">
		<div class="screen-item">
		    <div class="player-details">
		        <div class="player-details-image team-{{teamAbbr}}"><img src="http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/{{esbid}}.png"></div>
    		    <div class="player-details-info">
    		        <span class="player-name">{{name}}</span>
        			<span class="player-number">#{{jerseyNumber}}</span>
        			<span class="player-position">{{position}}</span>
        			<span class="player-team">{{teamAbbr}}</span>
        			<span class="player-following"><a href="#" class="follow-link {{following id}}" data-id="{{id}}"><i class="fa fa-flag"></i></a></span>
    		    </div>
		    </div>
		</div>
	</div>
</div>