<div class="screen-preferences screen-main">
	<header class="header">
		<h1>Dashboard</h1>
		<h2>Hello, <strong>{{name}}</strong><a href="preferences.html"><i class="fa fa-cogs"></i></a></h2>
	</header>
	<div class="sidebar">
		<ul>
			<li><a href="index.html"><i class="fa fa-tachometer"></i> Dashboard</a></li>
			<li><a href="news.html"><i class="fa fa-newspaper-o"></i> Latest News</a></li>
			<li><a href="#"><i class="fa fa-trophy"></i> Rankings</a></li>
			<li><a href="#"><i class="fa fa-users"></i> Player Stats</a></li>
			<li><a href="#"><i class="fa fa-rocket"></i> Game Center</a></li>
		</ul>
	</div>
	<div class="screen-content">
		<div class="screen-row">
			<div class="screen-column">
				<div class="screen-item user-info">
					<div class="screen-item-header header-blue">
						<h3>User Info</h3>
					</div>
					<div class="screen-item-content">
						<h4>Name:</h4>
						<label for="name">
						    <input type="text" name="name" value="{{name}}" />
						</label>
						<h4>Favorite Team:</h4>
						<label for="team">
						    <input type="text" name="team" value="{{team}}" />
						</label>
					</div>
				</div>
				<div class="screen-item">
					<div class="screen-item-header header-green">
						<h3>News Outlets</h3>
					</div>
					<div class="screen-item-content">

						{{#each this.news}}
						<label for="news">
						    <input type="checkbox" {{#if this}}checked{{/if}} name="news" value="{{@key}}" /> {{@key}}
						</label>
						{{/each}}
					</div>
				</div>

				<div class="screen-item">
					<div class="screen-item-header header-blue">
						<h3>Players to Follow</h3>
					</div>
					<div class="screen-item-content">
						{{#if players}}
						<label for="news">
						    <input type="checkbox" name="player" /> NFL
						</label>
						{{else}}
						<p>No players are currently being followed.</p>
						{{/if}}
					</div>
				</div>
				
				<div class="screen-item">
					<div class="screen-item-header header-green">
						<h3>Export Data</h3>
					</div>
					<div class="screen-item-content">
					    <label for="export">
					        <p>To keep user data, copy and past the text below into a file named 'user.json'. Save that file in the 'js/app/settings/' directory.</p>
						    <textarea name="export"></textarea>
						</label>
					</div>
				</div>

				<a href="#" class="btn btn-save">Save</a>
			</div>
		</div>
	</div>
</div>